.DG-spinner-container{
	border:1px solid #7F9DB9;
	padding-right: 10px;	/* The place needed for the arrows */
}
.DG-spinner-arrows-container{
	background-color: #c9d8fc;
	width:11px;
	border-color: #7F9DB9;
}
div.DG-spinner-arrow-overeffect{
	background-color:#d2eafe;
}
.DG-spinner-arrows-container div.DG-spinner-arrow-downeffect{
	background-color:#93acf2;
}

.DG-spinner-arrow-up{
	background-color: #c9d8fc;
	width:11px;
	background-image:url('../images/up-arrow.gif');
}
.DG-spinner-arrow-down{
	background-color: #c9d8fc;
	width:11px;
	background-image:url('../images/down-arrow.gif');
}
.DG-spinner-arrow-separator{
	width: 100%;
	height:1px;
	background-color:#EEE;
}