/**
*login css
*/
#login {
	width: 480px;
	height: 330px;
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;
	background: url(images/login.jpg) no-repeat;
}

#login form {
	width: 480px;
	margin-left: 95px;
	padding-top: 30%;
}

#login form div {
	position: relative;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 3px;
}

/**
*main css
*/
#topside {
	height: 90px;
}

#headerlogo {
	float: left;
	height: 100%;
	width:35%;
}
#headerleft {
	height: 100%;
	background: url(images/top_bg.jpg);
}
#topmenu {
	height: 100%;
	float: right;
}

#topmenu ul {
	padding-bottom: 0px;
	list-style-type: none;
	margin: 50px;
	margin-right: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

#topmenu ul li {
	border-left: #fff 1px solid;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 3px;
	padding-top: 0px;
	float: left;
}

#topmenu a:visited {
	color: #3D3E3E;
	text-decoration: none;
}

#topmenu a:link {
	color: #3D3E3E;
	text-decoration: none;
}

#topmenu a:hover {
	
}

#headerinfo {
	margin: 70px;
	margin-right: 30px;
}

#leftside {
	float: left;
	width:20%;
	height:550px;
}

#rightside {
	float: right;
	width:80%;
	height:550px;
}

#leftmenu {
	height:550px;
}